*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    font-family:'Fredoka', sans-serif;
}
h1{
    text-align: center;
    color: rgb(229, 49, 112);
    margin-top: 20px;
}
#incipit{
    text-align: center;
    margin: 40px 0px;
}
.container {
    max-width: 1100px;
    width: 80%;
    margin: auto;
}
body .col1{
    width: calc(100% / 3 - 10px);
    height: 80px;
    float: left;
    background-color: black;
    margin: 10px 5px;
}
.img{
    float: left;
    height: 100%;
}
.text{
    float: left;
    color: white;
    font-size: 13px;
    text-align: left;
    padding: 10px 10px;
}
.text h4 , p{
    margin-bottom: 6px;
}
a{
    color: rgb(77, 204, 242);
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}



